@import url('https://fonts.googleapis.com/css2?family=Manrope:wght@400;500&display=swap');

@font-face {
  font-family: 'HS LunaObscura';
  src:
    url('/fonts/HS_LunaObscura.woff2') format('woff2'),
    url('/fonts/HS_LunaObscura.otf') format('opentype');
  font-weight: 400;
  font-style: normal;
  font-display: block;
}

:root {
  --font-family-title-serif: 'HS LunaObscura', sans-serif;
  --font-family-base: 'Manrope', sans-serif;
}

h1 {
  font-family: var(--font-family-title-serif);
  color: var(--theme-text);
  font-weight: 400;
  font-size: 20px;
  text-transform: uppercase;
  text-align: center;
}

.title {
  margin: 0;
  font-family: var(--font-family-title-serif);
  color: var(--theme-text);
  font-weight: 400;
  text-transform: uppercase;
  font-size: 40px;
  text-align: left;
  line-height: 140%;
}
